AI customer insights.json
{
  "name": "AI customer insights",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        -16
      ],
      "id": "3714ef3d-6afc-4445-bb80-aa204e9f3104",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45fae706-082b-44a0-a45a-61ee9768f1b4",
              "name": "company",
              "value": "JayTech",
              "type": "string"
            },
            {
              "id": "7a9b7a6d-39e8-4890-b23f-0506a3cc5010",
              "name": "raw feedback",
              "value": "=Customers complain delivery is slow. Support is unresponsive. Some love product quality but want faster refunds.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -16
      ],
      "id": "b381aa59-05b2-4156-ba22-e730ae0536d3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Analyze the customer feedback below.\n\nFeedback:\n{{ $json.raw_feedback }}\n\nReturn ONLY the following format.\nEach value MUST be on the SAME line.\nDO NOT use bullet points.\n\nSentiment: <one word>\nTop Issues: <comma separated>\nPositive Feedback: <comma separated>\nUrgent Actions: <comma separated>\nRecommendations: <comma separated>"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -80,
        -16
      ],
      "id": "caa1d299-f0cb-425b-b341-cae2ae56668b",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "yOBN7xL0XltuowfE",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91484db1-d4f3-48e8-80c3-deae523be1d9",
              "name": "rawtext",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            },
            {
              "id": "73a7856d-126b-47de-a1ae-043b0e08ffe7",
              "name": "company",
              "value": "={{ $('Edit Fields').item.json.company }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -16
      ],
      "id": "1df81592-3ff1-4df7-b6d7-3b3aa6e1e261",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "if (!items || !items.length) {\n  throw new Error('No input items received');\n}\n\nconst data = items[0].json;\n\nif (!data.rawtext) {\n  throw new Error('rawtext is missing');\n}\n\nconst raw = String(data.rawtext);\nconst company = data.company || 'Unknown Company';\n\nconst output = {\n  company,\n  sentiment: '',\n  issues: '',\n  positive: '',\n  urgent: '',\n  recommendations: ''\n};\n\nraw.split('\\n').forEach(line => {\n  const l = line.trim();\n\n  if (l.startsWith('Sentiment:')) output.sentiment = l.replace('Sentiment:', '').trim();\n  if (l.startsWith('Top Issues:')) output.issues = l.replace('Top Issues:', '').trim();\n  if (l.startsWith('Positive Feedback:')) output.positive = l.replace('Positive Feedback:', '').trim();\n  if (l.startsWith('Urgent Actions:')) output.urgent = l.replace('Urgent Actions:', '').trim();\n  if (l.startsWith('Recommendations:')) output.recommendations = l.replace('Recommendations:', '').trim();\n});\n\nreturn [{ json: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -16
      ],
      "id": "314dc6c1-9235-4177-b9f0-8f81353c13a0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1oOIfKo57sBWW9Nbjxhz3uhuLm0Y5Er6tcP3NNQaWFSM",
          "mode": "list",
          "cachedResultName": "AI customer insight reports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oOIfKo57sBWW9Nbjxhz3uhuLm0Y5Er6tcP3NNQaWFSM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oOIfKo57sBWW9Nbjxhz3uhuLm0Y5Er6tcP3NNQaWFSM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $json.company }}",
            "Sentiment": "={{ $json.sentiment }}",
            "Top issues": "={{ $json.issues }}",
            "Positive feedbacks": "={{ $json.positive }}",
            "Urgent actions": "={{ $json.urgent }}",
            "Recommendations": "={{ $json.recommendations }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Top issues",
              "displayName": "Top issues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Positive feedbacks",
              "displayName": "Positive feedbacks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgent actions",
              "displayName": "Urgent actions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendations",
              "displayName": "Recommendations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        -16
      ],
      "id": "51006dc9-6a68-451e-916f-20318fdcccb7",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZDvUBYBJmlHfccmM",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d108487b-611a-425c-9950-21a536cf59a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c571e24ec810276817669e29f8bec76845fa343d2302c2c6832863520d81eac4"
  },
  "id": "NrDyK1VCO6suqGE0z6SwB",
  "tags": []
}