LEADS AI TELEGRAM.json
{
  "name": "LEADS AI TELEGRAM",
  "nodes": [
    {
      "parameters": {
        "path": "lead-intake",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        0
      ],
      "id": "b1fc83dd-3452-4862-bcae-6b4d7cdfc055",
      "name": "Webhook",
      "webhookId": "1da2a3bc-1828-4f63-bc81-12d58ca8abcb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac6a784a-b0d6-4f04-8c4a-41b838fdff61",
              "name": "",
              "value": "=\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        0
      ],
      "id": "728e555f-7e89-4811-899c-04a0ffb112e7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are a sales lead qualification assistant.\n\nClassify the message using these rules:\n\n- HOT: Clear intent to buy, pay, subscribe, book, or start immediately.\n  Examples: \"I want to pay\", \"How much does it cost?\", \"Let's start today\"\n\n- WARM: Interest but not ready to buy.\n  Examples: \"Tell me more\", \"I'm interested\", \"How does it work?\"\n\n- COLD: No buying intent, rejection, complaints, or negative statements.\n  Examples: \"Not interested\", \"I don't like your services\", \"Stop messaging me\"\n\nMessage:\n{{ $json.query.text }}\n\nRespond ONLY in this format:\nCategory: <Hot/Warm/Cold>\nReply: <a short professional reply>"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        48,
        0
      ],
      "id": "73a0ef8c-3fa7-48be-bd24-1ed7885ec0e6",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "yOBN7xL0XltuowfE",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8548611467",
        "text": "={{ $('Message a model').item.json.output[0].content[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "a8e8bbcf-93c4-4856-a19c-17cd068cb573",
      "name": "Send a text message",
      "webhookId": "91033725-c7f0-471f-bc04-b2c77191b53c",
      "credentials": {
        "telegramApi": {
          "id": "JXjZVbKFuSSE2yO1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99255b46-c34c-466d-b127-8f3bd94937a7",
              "leftValue": "={{ $json.query.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        0
      ],
      "id": "142b9a0d-7e9e-4d35-81fe-7a59922d0833",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "89725b3b-8700-46e1-a510-80576463c9d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c571e24ec810276817669e29f8bec76845fa343d2302c2c6832863520d81eac4"
  },
  "id": "QhKvu_IuUCg95hM2j66d4",
  "tags": []
}