New york &london session EURUSD MARKET INSIGHT.json
{
  "name": "New york &london session EURUSD MARKET INSIGHT",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ad5b8e2-2bf0-41bd-b252-d2a745d87377",
              "name": "pair",
              "value": "EUR/USD",
              "type": "string"
            },
            {
              "id": "b61cf0e7-63bb-47b6-b5e5-900392d6fa9f",
              "name": "session",
              "value": "London Session",
              "type": "string"
            },
            {
              "id": "6c0064d7-3ae9-4415-bf31-03bc417ce0f0",
              "name": "context",
              "value": "=Focus on European market sentiment, ECB-related developments, European economic data, overnight Asia session behavior, and risk positioning ahead of London liquidity.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        16
      ],
      "id": "ee5bca61-6a35-4828-8e9f-f42d0b007a29",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a professional Forex market analyst.\n\nCreate a {{ $json.session }} market insight report for the {{ $json.pair }} currency pair.\n\nUse the following context:\n{{ $json.context }}\n\nYour report must include:\n1. Session sentiment (bullish, bearish, or neutral)\n2. Key macro or news drivers relevant to this session\n3. Risk factors to watch during the session\n4. A high-level directional bias (NOT a trade signal)\n\nRules:\n- Do NOT give entry or exit prices\n- Do NOT claim access to live market data\n- Keep it concise and professional\n- Assume the reader is an active retail trader\n\nFormat clearly with headings.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -80,
        112
      ],
      "id": "926dd55d-61a5-471e-93a4-8a61e1b0b90a",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "yOBN7xL0XltuowfE",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8548611467",
        "text": "={{ $json.output[0].content[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        112
      ],
      "id": "faa37e35-dcb2-4109-b2fa-20483f261297",
      "name": "Send a text message",
      "webhookId": "275e1974-a8f2-4e6d-9dcc-bafb3f316556",
      "credentials": {
        "telegramApi": {
          "id": "JXjZVbKFuSSE2yO1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6897479b-5312-4fc1-82f9-caa85f263c88",
              "name": "pair",
              "value": "EUR/USD",
              "type": "string"
            },
            {
              "id": "09bae4d5-7071-4194-a314-b952358a4295",
              "name": "session",
              "value": "New York",
              "type": "string"
            },
            {
              "id": "17367e2a-6c1b-444d-8761-32f59488cbfb",
              "name": "context",
              "value": "=Focus on US economic data, Federal Reserve policy expectations, USD strength or weakness, bond yields, equity market sentiment, and risk-on or risk-off behavior during the New York session.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        208
      ],
      "id": "10a6923c-b1ea-4639-b2f6-6a35f42bb1f5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        16
      ],
      "id": "8f728e09-3db5-4bfd-8cd6-c4bc6395781d",
      "name": "LONDON SESSION"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 14
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        208
      ],
      "id": "ddbfab39-de06-4729-9976-d429c87146a3",
      "name": "NEW YORK SESSION"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LONDON SESSION": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NEW YORK SESSION": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a8825aff-4c47-4545-943f-d9d245553827",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c571e24ec810276817669e29f8bec76845fa343d2302c2c6832863520d81eac4"
  },
  "id": "l8ffnntNrxpXUVnw_aUT3",
  "tags": []
}