split facts google sheets content.json
{
  "name": "ai split facts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        -16
      ],
      "id": "cc3db023-a4fc-43a0-b1f8-f6ae97582312",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Create 5 viral YouTube Shorts ideas.\n\nFor each idea output exactly this format:\n\n---\nFact: <one sentence under 15 words>\nTitle: <curiosity-driven, under 60 characters>\nHook: <first 3 seconds attention grabber>\n---\n\nRules:\n- No emojis\n- Short sentences\n- Simple English"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -416,
        -16
      ],
      "id": "0ec32130-ef64-42cc-b1cc-dfdb6c2dd4ac",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "yOBN7xL0XltuowfE",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f5ff501-135f-474a-a901-a98ea71436b5",
              "name": "rawtext",
              "value": "={{ $json.output[0].content[0].text ",
              "type": "string"
            },
            {
              "id": "9e754b5b-7b27-4d8b-9639-46e134d0849a",
              "name": "platform",
              "value": "Youtube shorts",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -16
      ],
      "id": "91249a35-37ec-4877-a099-b2602cc34ca9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const text = items[0].json.rawtext;\nconst platform = items[0].json.platform;\n\n// Split by ---\nconst blocks = text\n  .split('---')\n  .map(b => b.trim())\n  .filter(b => b.length > 0);\n\nreturn blocks.map(block => {\n  const factMatch = block.match(/Fact:\\s*(.*)/);\n  const titleMatch = block.match(/Title:\\s*(.*)/);\n  const hookMatch = block.match(/Hook:\\s*(.*)/);\n\n  return {\n    json: {\n      fact: factMatch ? factMatch[1].trim() : '',\n      title: titleMatch ? titleMatch[1].trim() : '',\n      hook: hookMatch ? hookMatch[1].trim() : '',\n      platform\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -16
      ],
      "id": "59424e0d-03bd-48e9-b5d6-53cdba58a820",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hz_JjjC5AZOGFCSnNcKrER1izJqLzM9aSXbgTv8kjIg",
          "mode": "list",
          "cachedResultName": "categorized content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hz_JjjC5AZOGFCSnNcKrER1izJqLzM9aSXbgTv8kjIg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hz_JjjC5AZOGFCSnNcKrER1izJqLzM9aSXbgTv8kjIg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fact": "={{ $json.fact }}",
            "Title": "={{ $json.title }}",
            "Hook": "={{ $json.hook }}",
            "Platform": "={{ $json.platform }}",
            "Date": "={{ $now }}",
            "Status": "Ready for video"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fact",
              "displayName": "Fact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hook",
              "displayName": "Hook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        -16
      ],
      "id": "bfcb6a1c-c9c2-4492-a05f-077dd16df47f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZDvUBYBJmlHfccmM",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5b14ebf7-af8f-4f81-aa8c-57b3bafe8cb8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c571e24ec810276817669e29f8bec76845fa343d2302c2c6832863520d81eac4"
  },
  "id": "_LCV-DF2rlvE9YjTf_nhe",
  "tags": []
}