projects/ai-auto-reply/ai-auto-reply.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "=in:inbox -category:promotions -category:social"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -832,
        80
      ],
      "id": "2a3ec10b-e83a-457a-b377-32a0d71e17e5",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "HM9n8lOTBgLvD5ev",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an AI operations assistant for a small business.\n\nAnalyze the email below and return a STRICT JSON object with these fields only:\n- category (urgent_issue, request, follow_up, info)\n- priority (high, medium, low)\n- action (reply_now, assign_task, wait)\n- summary (one short sentence)\n\nEmail subject:\n{{$json.subject}}\n\nEmail body:\n{{$json.snippet}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -608,
        80
      ],
      "id": "3ff402ce-4b5b-4076-96b3-93d7eff09cac",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "JXnX91ugzou6kMCK",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get AI text from correct path\nlet rawText = $json.output?.[0]?.content?.[0]?.text;\n\nif (!rawText) {\n  throw new Error(\"AI text output not found\");\n}\n\n// 2. CLEAN the AI output (remove ```json wrappers)\nrawText = rawText\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// 3. Parse cleaned JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(rawText);\n} catch (e) {\n  throw new Error(\"AI output is not valid JSON after cleaning\");\n}\n\n// 4. Return proper n8n structure\nreturn [\n  {\n    json: parsed\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        80
      ],
      "id": "b788a1c5-9ca0-4a64-8fce-18a863ec14f2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "08fca1a0-c3b3-494c-9a4d-ca436c19f443",
              "leftValue": "={{$json.priority.toLowerCase().trim()}}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        80
      ],
      "id": "90be0b0e-e51c-478f-a9c6-708f7ed8fe40",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "njugunajoseph853@gmail.com",
        "subject": " Urgent Customer Request Detected",
        "emailType": "text",
        "message": "=New urgent email detected.\n\nCategory: {{$json.category}}\nAction Required: {{$json.action}}\n\nSummary:\n{{$json.summary}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        192,
        -16
      ],
      "id": "f425ae97-1220-4f47-8deb-79e054820866",
      "name": "Send a message",
      "webhookId": "a4835204-8dd6-4085-8640-ca5cd9f79deb",
      "credentials": {
        "gmailOAuth2": {
          "id": "HM9n8lOTBgLvD5ev",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mVUk-79tzh85zC4YRC0lBi3z9EYFJBEsh3f5PSZkErc",
          "mode": "list",
          "cachedResultName": "AI assistant log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mVUk-79tzh85zC4YRC0lBi3z9EYFJBEsh3f5PSZkErc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mVUk-79tzh85zC4YRC0lBi3z9EYFJBEsh3f5PSZkErc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Category": "={{ $json.category }}",
            "Priority": "={{ $json.priority }}",
            "Timestamp": "={{ $now }}",
            "Summary": "={{ $json.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        176
      ],
      "id": "46542067-8290-47c8-90de-030b494014be",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3yzwa2kNbuDrKBDz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "Re: We’ve received your message – action in progress",
        "emailType": "text",
        "message": "=Hi {{$json.sender_name || \"there\"}},  Thanks for reaching out. Your message has been marked as high priority and is already being reviewed.  We’ll get back to you shortly.  Best regards,   Support Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        400,
        -16
      ],
      "id": "47a5a11f-3310-4da4-8e12-162f77f331af",
      "name": "Send a message1",
      "webhookId": "0cc19451-9b5d-4ec1-afde-0214fd1f4bb7",
      "credentials": {
        "gmailOAuth2": {
          "id": "HM9n8lOTBgLvD5ev",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "Re: Thanks for contacting us",
        "emailType": "text",
        "message": "=Hi {{$json.sender_name || \"there\"}},  Thanks for reaching out. We’ve received your message and it’s in our queue.  Our team will respond as soon as possible.  Kind regards,   Support Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        400,
        176
      ],
      "id": "e1c12598-1b02-4c18-b3d8-e3fc9df0c17d",
      "name": "Send a message2",
      "webhookId": "c2f7bde9-e9a8-400e-89d2-5af300a35f41",
      "credentials": {
        "gmailOAuth2": {
          "id": "HM9n8lOTBgLvD5ev",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c02f3ee2-dada-48a3-ae6e-4c95b5417944",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea26936e230d6d229d5263914a0150a9c1aa53b733f3b1cc91e30cdd2d8fdc72"
  },
  "id": "w7070aHCIzWmczvHh7xSN",
  "tags": []
}
